/* @import 'https://cdn.syncfusion.com/ej2/material.css'; */

@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.e-grid .e-headercelldiv {
  font-size: 15px;
  color: #121214;
}


.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-prevpage,
.e-grid .e-gridpager .e-nextpage,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-lastpage,
.e-grid .e-gridpager .e-firstpage,
.e-grid .e-gridpager .e-firstpagedisabled {
  border-radius: 6px;
  background-color: #00a5b4;
  color: #fff;
  border: solid 1px #d1d5db;
}

.MuiAccordion-root {
  /* max-height: 30px; */
  /* z-index: 999; */
}

.MuiAccordionSummary-root {
  /* height: 40px; */
}

.MuiAccordionDetails-root {
  margin-top: -10px;
}

.MuiTableCell-root {
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.MuiTableCell-head {
  padding: 8px 10px !important;
}

.MuiTableCell-body {
  padding: 0px 10px !important;
}

.w-res-1366-768 {
  /* max-width: 1349; */
  width: 100vw;
}

.table-res-1366-768 {
  height: 1000px;
}

.h-1366-768 {
  /* height: 568px; */
  height: 90.2vh;
  width: 100vw;
}

.d-mt-1366-768 {
  height: 500px;
  width: 1155px;
  overflow-x: scroll;
}

.mt-1366-768 {
  width: 100%;
}

.Component-horizontalScrollContainer-5 div div {
  overflow: visible !important;
}

@media screen and (min-width: 1400px) {
  .MuiTableCell-head {
    padding: 10px 10px !important;
  }

  .MuiTableCell-body {
    padding: 8px 10px !important;
  }

  .h-1366-768 {
    height: 93vh;
    width: 100vw;
  }
}
